Box {
    position: relative;
    width: 1135px;
    height: 680px;
    background-color: white;
    margin: auto;
  }
  
  .Box1 {
    float: left;
    width: 200px;
    height: 90px;
    background-color: rgb(226, 162, 42);
    border-radius: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    border: 2px solid black;
  }
  
  .Box2 {
    float: left;
    width: 720px;
    height: 90px;
    background-color: rgb(166, 255, 213);
    border-radius: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    border: 2px solid black;
  }
  
  .Box3 {
    float: left;
    width: 200px;
    height: 450px;
    background-color: rgb(0, 255, 255);
    border-radius: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    border: 2px solid black;
  }
  
  .Box4 {
    float: left;
    width: 500px;
    height: 450px;
    background-color: rgba(255, 0, 170, 0.678);
    border-radius: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    border: 2px solid black;
  }
  
  .Box5 {
    float: left;
    width: 200px;
    height: 450px;
    background-color: rgb(162, 0, 255);
    border-radius: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    border: 2px solid black;
  }
  
  .Box6 {
    float: left;
    width: 940px;
    height: 90px;
    background-color: rgb(255, 0, 0);
    border-radius: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid black;
  }